<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Caro Utilizador, <%= @user.name %></h1>
    <p>
      Existe um Doador disponivel para o seu pedido de Sangue do tipo <%= @request.description%>
    </p>
    <p>
      Clica no clink para ver os dados do Doador <%= @url %>.
    </p>
    <p>Obrigado pela preferência,</p>
    <p>Savelife</p>
  </body>
</html>